/* .table{
    height: 100vh !important;
}

.table td, .table th{
    vertical-align: middle !important;
} */

table{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table, th, td{
    border: 1px solid black;
    padding: 10px;
    font-size: 1em;
}